In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
redfin_file = 'Redfin_Scrape.csv'
trulia_file = 'Trulia_Scrape.csv'
hf_file = 'HomeFinder_Scrape.csv'

redfin_df = pd.read_csv(redfin_file)
trulia_df = pd.read_csv(trulia_file)
hf_df = pd.read_csv(hf_file)

In [3]:
redfin_df.columns, trulia_df.columns, hf_df.columns

(Index(['Unnamed: 0', 'Price', 'Address', 'City', 'Zip Code', '# of Beds',
        '# of Baths', 'sqft'],
       dtype='object'),
 Index(['Unnamed: 0', 'Price', '# of Beds', '# of Baths', 'sqft', 'Address',
        'City'],
       dtype='object'),
 Index(['Unnamed: 0', 'Price', '# of Beds', '# of Baths', 'Address', 'City',
        'Zip Code'],
       dtype='object'))

In [4]:
hf_df

,Unnamed: 0,Price,# of Beds,# of Baths,Address,City,Zip Code
0,0,$966,3 Bd,"2 bath\n | 1,423",Frank,"Dallas, TX",75210
1,1,"$317,900",3 Bd,"2 bath\n | 1,428",7947 Claremont DR,"Dallas, TX",75228
2,2,"$50,000",1 Bd,1 bath,9833 Walnut Street,"Dallas, TX",75243
3,3,"$50,000",1 Bd,1 bath,9825 Walnut Street,"Dallas, TX",75243
4,4,"$50,000",1 Bd,1 bath,9809 Walnut Street,"Dallas, TX",75243
...,...,...,...,...,...,...,...
3119,3119,"$135,900",3 Bd,2 bath,1719 Westview Terrace,"Arlington, TX",76013
3120,3120,"$365,000",3 Bd,2 bath,1405 Mount Evans Trail,"Arlington, TX",76005
3121,3121,"$265,000",4 Bd,2 bath,809 Mckenzie Place,"Arlington, TX",76018
3122,3122,"$159,000",0 Bd,0 bath,708 Houston Street,"Arlington, TX",76012
3123,3123,"$250,000",4 Bd,2 bath,5115 Eagle Nest Drive,"Arlington, TX",76017

In [5]:
trulia_df.loc[trulia_df['Address'] == '1609 Axe Dr']

,Unnamed: 0,Price,# of Beds,# of Baths,sqft,Address,City
120,120,"$185,500",3bd,2ba,"1,440 sqft",1609 Axe Dr,"Almeta,Bonita, Bella Vista, Garland, TX"

In [6]:
redfin_df

,Unnamed: 0,Price,Address,City,Zip Code,# of Beds,# of Baths,sqft
0,0,"$564,900",7200 Neches Pine Dr,"Frisco, TX",75036,3 Beds,2.5 Baths,"2,997 Sq. Ft."
1,1,"$365,000",10045 Bell Rock Rd,"Frisco, TX",75035,3 Beds,2 Baths,"2,169 Sq. Ft."
2,2,"$405,000",11017 Aurora Ln,"Frisco, TX",75035,3 Beds,2.5 Baths,"2,166 Sq. Ft."
3,3,"$449,900",9991 Slick Rock Trl,"Frisco, TX",75033,4 Beds,2.5 Baths,"2,574 Sq. Ft."
4,4,"$515,000",8326 Sitka St,"Frisco, TX",75035,4 Beds,2.5 Baths,"2,962 Sq. Ft."
5,5,"$640,000",2079 Alcove Dr,"Frisco, TX",75034,4 Beds,2.5 Baths,"2,695 Sq. Ft."
6,6,"$389,900",2910 Reynolds Ln,"Frisco, TX",75033,3 Beds,2 Baths,"2,236 Sq. Ft."
7,7,"$475,000",13714 French Creek Ln,"Frisco, TX",75035,3 Beds,2.5 Baths,"2,373 Sq. Ft."
8,8,"$930,000",4520 Florence Dr,"Frisco, TX",75034,3 Beds,3.5 Baths,"4,228 Sq. Ft."
9,9,"$439,900",7601 Blossom Ln,"Frisco, TX",75034,3 Beds,2.5 Baths,"2,383 Sq. Ft."
10,10,"$295,000",9805 Concord Dr,"Frisco, TX",75035,3 Beds,2.5 Baths,"1,396 Sq. Ft."
11,11,"$900,000",6198 Rachel Dr,"Frisco, TX",75034,4 Beds,4 Baths,"4,967 Sq. Ft."
12,12,"$339,999",12018 Chattanooga Dr,"Frisco, TX",75035,3 Beds,2 Baths,"1,417 Sq. Ft."
13,13,"$520,000",12571 Peace River Dr,"Frisco, TX",75035,5 Beds,4 Baths,"3,691 Sq. Ft."
14,14,"$460,000",9569 Lance Dr,"Frisco, TX",75035,4 Beds,2.5 Baths,"3,069 Sq. Ft."
15,15,"$325,000",7297 Chinquapin Dr,"Frisco, TX",75033,4 Beds,2 Baths,"1,995 Sq. Ft."
16,16,"$500,000",7152 Maumee Valley Ct,"Frisco, TX",75036,3 Beds,2 Baths,"2,246 Sq. Ft."
17,17,"$325,000",13160 Guerin Dr,"Frisco, TX",75035,4 Beds,2 Baths,"2,073 Sq. Ft."
18,18,"$340,000",6848 Regello Dr,"Frisco, TX",75034,2 Beds,2.5 Baths,"1,818 Sq. Ft."
19,19,"$350,000",9758 Golden Fountain Dr,"Frisco, TX",75033,4 Beds,2 Baths,"2,096 Sq. Ft."
20,20,"$325,400",11908 Clearpoint Ct,"Frisco, TX",75036,4 Beds,2 Baths,"1,852 Sq. Ft."
21,21,"$445,900",12004 Rushing Creek Dr,"Frisco, TX",75035,4 Beds,3.5 Baths,"2,860 Sq. Ft."
22,22,"$375,000",5904 Louisville Dr,"Frisco, TX",75035,4 Beds,2 Baths,"2,027 Sq. Ft."
23,23,"$675,000",1567 San Andres Dr,"Frisco, TX",75033,5 Beds,3.5 Baths,"4,668 Sq. Ft."
24,24,"$437,500",2649 Marshall Dr,"Frisco, TX",75033,4 Beds,3.5 Baths,"2,927 Sq. Ft."
25,25,"$475,000",11708 Blackhawk Dr,"Frisco, TX",75033,4 Beds,2.5 Baths,"2,860 Sq. Ft."
26,26,"$679,545",1545 Morris Ln,"Frisco, TX",75034,4 Beds,3 Baths,"3,623 Sq. Ft."
27,27,"$499,900",12923 Yale Ct,"Frisco, TX",75035,3 Beds,3 Baths,"1,882 Sq. Ft."
28,28,"$774,900",16372 Lorna Doone Ln,"Frisco, TX",75033,5 Beds,4.5 Baths,"4,147 Sq. Ft."
29,29,"$749,000",12858 Palo Duro Dr,"Frisco, TX",75033,5 Beds,5.5 Baths,"4,710 Sq. Ft."
30,30,"$369,000",2450 Thorntree Dr,"Frisco, TX",75033,4 Beds,3 Baths,"2,207 Sq. Ft."
31,31,"$425,000",7927 Canal St,"Frisco, TX",75034,2 Beds,2.5 Baths,"1,706 Sq. Ft."
32,32,"$1,150,000",15246 Crystal Beach Ln,"Frisco, TX",75035,6 Beds,5 Baths,"4,813 Sq. Ft."
33,33,"$1,152,990",2481 Haft River Rd,"Frisco, TX",75034,5 Beds,4 Baths,"4,002 Sq. Ft."
34,34,"$540,000",8260 Fairview Dr,"Frisco, TX",75033,3 Beds,3.5 Baths,"2,128 Sq. Ft."
35,35,"$1,200,000",6006 Connely Dr,"Frisco, TX",75034,5 Beds,4.5 Baths,"5,253 Sq. Ft."
36,36,"$925,000",5111 Stillwater Trl,"Frisco, TX",75034,4 Beds,4.5 Baths,"4,061 Sq. Ft."
37,37,"$625,000",1403 Crockett Dr,"Frisco, TX",75033,4 Beds,3.5 Baths,"3,757 Sq. Ft."
38,38,"$329,000",12144 Cardinal Creek Dr,"Frisco, TX",75033,3 Beds,2 Baths,"1,805 Sq. Ft."
39,39,"$430,000",949 Imperial Valley Ln,"Frisco, TX",75036,2 Beds,2 Baths,"1,786 Sq. Ft."
40,40,"$350,000",2260 Lariat Trl,"Frisco, TX",75036,3 Beds,2 Baths,"1,841 Sq. Ft."

In [7]:
for i in hf_df.index:
    hf_df['City'][i] = hf_df['City'][i][:-4]
    hf_df['# of Beds'][i] = hf_df['# of Beds'][i][:hf_df['# of Beds'][i].find(' ')]
    hf_df['# of Baths'][i] = hf_df['# of Baths'][i][:hf_df['# of Baths'][i].find(' ')]
    hf_df['Price'][i] = hf_df['Price'][i].replace('$', '')
    hf_df['Price'][i] = hf_df['Price'][i].replace(',', '')
    
hf_df['# of Beds'] = hf_df['# of Beds'].astype(float)
hf_df['# of Baths'] = hf_df['# of Baths'].astype(float)
hf_df['Price'] = hf_df['Price'].astype(int)

hf_df

<ipython-input-7-7e48ed86f303>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hf_df['City'][i] = hf_df['City'][i][:-4]
<ipython-input-7-7e48ed86f303>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hf_df['# of Beds'][i] = hf_df['# of Beds'][i][:hf_df['# of Beds'][i].find(' ')]
<ipython-input-7-7e48ed86f303>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hf_df['# of Baths'][i] = hf_df['# of Baths'][i][:hf_df['# of Baths'][i].find(' ')]
<ipython-input-7-7e48ed86f303>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hf_df['Price'][i] = hf_df['Price'][i].replace('$', '')
<ipython-input-7-7e48ed86f303>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hf_df['Price'][i] = hf_df['Price'][i].replace(',', '')

,Unnamed: 0,Price,# of Beds,# of Baths,Address,City,Zip Code
0,0,966,3.0,2.0,Frank,Dallas,75210
1,1,317900,3.0,2.0,7947 Claremont DR,Dallas,75228
2,2,50000,1.0,1.0,9833 Walnut Street,Dallas,75243
3,3,50000,1.0,1.0,9825 Walnut Street,Dallas,75243
4,4,50000,1.0,1.0,9809 Walnut Street,Dallas,75243
...,...,...,...,...,...,...,...
3119,3119,135900,3.0,2.0,1719 Westview Terrace,Arlington,76013
3120,3120,365000,3.0,2.0,1405 Mount Evans Trail,Arlington,76005
3121,3121,265000,4.0,2.0,809 Mckenzie Place,Arlington,76018
3122,3122,159000,0.0,0.0,708 Houston Street,Arlington,76012
3123,3123,250000,4.0,2.0,5115 Eagle Nest Drive,Arlington,76017

In [8]:
for i in trulia_df.index:
    trulia_df['City'][i] = trulia_df['City'][i][trulia_df['City'][i].find(', ') + 2 : -4]
    trulia_df['City'][i] = trulia_df['City'][i][trulia_df['City'][i].find(', ') + 1 :]
    trulia_df['City'][i] = trulia_df['City'][i].lstrip()
    trulia_df['# of Beds'][i] = trulia_df['# of Beds'][i][:trulia_df['# of Beds'][i].find('b')]
    trulia_df['# of Baths'][i] = trulia_df['# of Baths'][i][:trulia_df['# of Baths'][i].find('b')]
    trulia_df['Price'][i] = trulia_df['Price'][i].replace('$', '')
    trulia_df['Price'][i] = trulia_df['Price'][i].replace(',', '')
    trulia_df['sqft'][i] = trulia_df['sqft'][i][:trulia_df['sqft'][i].find(' ')]
    trulia_df['sqft'][i] = trulia_df['sqft'][i].replace(',', '')
    
trulia_df['# of Beds'] = trulia_df['# of Beds'].astype(float)
trulia_df['# of Baths'] = trulia_df['# of Baths'].astype(float)
trulia_df['Price'] = trulia_df['Price'].astype(int)
trulia_df['sqft'] = trulia_df['sqft'].astype(int)

trulia_df

<ipython-input-8-4dbdeb9bf671>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['City'][i] = trulia_df['City'][i][trulia_df['City'][i].find(', ') + 2 : -4]
<ipython-input-8-4dbdeb9bf671>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['City'][i] = trulia_df['City'][i][trulia_df['City'][i].find(', ') + 1 :]
<ipython-input-8-4dbdeb9bf671>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['City'][i] = trulia_df['City'][i].lstrip()
<ipython-input-8-4dbdeb9bf671>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['# of Beds'][i] = trulia_df['# of Beds'][i][:trulia_df['# of Beds'][i].find('b')]
<ipython-input-8-4dbdeb9bf671>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['# of Baths'][i] = trulia_df['# of Baths'][i][:trulia_df['# of Baths'][i].find('b')]
<ipython-input-8-4dbdeb9bf671>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['Price'][i] = trulia_df['Price'][i].replace('$', '')
<ipython-input-8-4dbdeb9bf671>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['Price'][i] = trulia_df['Price'][i].replace(',', '')
<ipython-input-8-4dbdeb9bf671>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['sqft'][i] = trulia_df['sqft'][i][:trulia_df['sqft'][i].find(' ')]
<ipython-input-8-4dbdeb9bf671>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trulia_df['sqft'][i] = trulia_df['sqft'][i].replace(',', '')

,Unnamed: 0,Price,# of Beds,# of Baths,sqft,Address,City
0,0,245000,4.0,2.0,2200,2827 Curvilinear Ct,Dallas
1,1,475000,3.0,2.0,2089,7036 Winchester St,Dallas
2,2,275000,4.0,2.0,1800,132 W Woodin Blvd,Dallas
3,3,209900,3.0,2.0,1902,7311 Hardwood Trl,Dallas
4,4,225000,5.0,2.0,2500,2720 E Atoll Dr,Dallas
...,...,...,...,...,...,...,...
235,235,425000,4.0,2.0,2666,3817 Harrison Dr,Carrollton
236,236,350000,4.0,3.0,2368,2517 Rosebud Cir,Carrollton
237,237,399900,4.0,3.0,2723,4216 Eastwood Dr,Carrollton
238,238,398750,4.0,3.0,2347,1514 Northland St,Carrollton
239,239,310000,2.0,3.0,1940,4121 Indian Run Dr,Carrollton

In [9]:
for i in redfin_df.index:
    redfin_df['City'][i] = redfin_df['City'][i][: -4]
    redfin_df['# of Beds'][i] = redfin_df['# of Beds'][i][:redfin_df['# of Beds'][i].find(' ')]
    redfin_df['# of Baths'][i] = redfin_df['# of Baths'][i][:redfin_df['# of Baths'][i].find(' ')]
    redfin_df['Price'][i] = redfin_df['Price'][i].replace('$', '')
    redfin_df['Price'][i] = redfin_df['Price'][i].replace(',', '')
    redfin_df['sqft'][i] = redfin_df['sqft'][i][:redfin_df['sqft'][i].find(' ')]
    redfin_df['sqft'][i] = redfin_df['sqft'][i].replace(',', '')
    
redfin_df['# of Beds'] = redfin_df['# of Beds'].astype(float)
redfin_df['# of Baths'] = redfin_df['# of Baths'].astype(float)
redfin_df['Price'] = redfin_df['Price'].astype(int)
redfin_df['sqft'] = redfin_df['sqft'].astype(int)

redfin_df

<ipython-input-9-0e5309e02ffa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['City'][i] = redfin_df['City'][i][: -4]
<ipython-input-9-0e5309e02ffa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['# of Beds'][i] = redfin_df['# of Beds'][i][:redfin_df['# of Beds'][i].find(' ')]
<ipython-input-9-0e5309e02ffa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['# of Baths'][i] = redfin_df['# of Baths'][i][:redfin_df['# of Baths'][i].find(' ')]
<ipython-input-9-0e5309e02ffa>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['Price'][i] = redfin_df['Price'][i].replace('$', '')
<ipython-input-9-0e5309e02ffa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['Price'][i] = redfin_df['Price'][i].replace(',', '')
<ipython-input-9-0e5309e02ffa>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['sqft'][i] = redfin_df['sqft'][i][:redfin_df['sqft'][i].find(' ')]
<ipython-input-9-0e5309e02ffa>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  redfin_df['sqft'][i] = redfin_df['sqft'][i].replace(',', '')

,Unnamed: 0,Price,Address,City,Zip Code,# of Beds,# of Baths,sqft
0,0,564900,7200 Neches Pine Dr,Frisco,75036,3.0,2.5,2997
1,1,365000,10045 Bell Rock Rd,Frisco,75035,3.0,2.0,2169
2,2,405000,11017 Aurora Ln,Frisco,75035,3.0,2.5,2166
3,3,449900,9991 Slick Rock Trl,Frisco,75033,4.0,2.5,2574
4,4,515000,8326 Sitka St,Frisco,75035,4.0,2.5,2962
5,5,640000,2079 Alcove Dr,Frisco,75034,4.0,2.5,2695
6,6,389900,2910 Reynolds Ln,Frisco,75033,3.0,2.0,2236
7,7,475000,13714 French Creek Ln,Frisco,75035,3.0,2.5,2373
8,8,930000,4520 Florence Dr,Frisco,75034,3.0,3.5,4228
9,9,439900,7601 Blossom Ln,Frisco,75034,3.0,2.5,2383
10,10,295000,9805 Concord Dr,Frisco,75035,3.0,2.5,1396
11,11,900000,6198 Rachel Dr,Frisco,75034,4.0,4.0,4967
12,12,339999,12018 Chattanooga Dr,Frisco,75035,3.0,2.0,1417
13,13,520000,12571 Peace River Dr,Frisco,75035,5.0,4.0,3691
14,14,460000,9569 Lance Dr,Frisco,75035,4.0,2.5,3069
15,15,325000,7297 Chinquapin Dr,Frisco,75033,4.0,2.0,1995
16,16,500000,7152 Maumee Valley Ct,Frisco,75036,3.0,2.0,2246
17,17,325000,13160 Guerin Dr,Frisco,75035,4.0,2.0,2073
18,18,340000,6848 Regello Dr,Frisco,75034,2.0,2.5,1818
19,19,350000,9758 Golden Fountain Dr,Frisco,75033,4.0,2.0,2096
20,20,325400,11908 Clearpoint Ct,Frisco,75036,4.0,2.0,1852
21,21,445900,12004 Rushing Creek Dr,Frisco,75035,4.0,3.5,2860
22,22,375000,5904 Louisville Dr,Frisco,75035,4.0,2.0,2027
23,23,675000,1567 San Andres Dr,Frisco,75033,5.0,3.5,4668
24,24,437500,2649 Marshall Dr,Frisco,75033,4.0,3.5,2927
25,25,475000,11708 Blackhawk Dr,Frisco,75033,4.0,2.5,2860
26,26,679545,1545 Morris Ln,Frisco,75034,4.0,3.0,3623
27,27,499900,12923 Yale Ct,Frisco,75035,3.0,3.0,1882
28,28,774900,16372 Lorna Doone Ln,Frisco,75033,5.0,4.5,4147
29,29,749000,12858 Palo Duro Dr,Frisco,75033,5.0,5.5,4710
30,30,369000,2450 Thorntree Dr,Frisco,75033,4.0,3.0,2207
31,31,425000,7927 Canal St,Frisco,75034,2.0,2.5,1706
32,32,1150000,15246 Crystal Beach Ln,Frisco,75035,6.0,5.0,4813
33,33,1152990,2481 Haft River Rd,Frisco,75034,5.0,4.0,4002
34,34,540000,8260 Fairview Dr,Frisco,75033,3.0,3.5,2128
35,35,1200000,6006 Connely Dr,Frisco,75034,5.0,4.5,5253
36,36,925000,5111 Stillwater Trl,Frisco,75034,4.0,4.5,4061
37,37,625000,1403 Crockett Dr,Frisco,75033,4.0,3.5,3757
38,38,329000,12144 Cardinal Creek Dr,Frisco,75033,3.0,2.0,1805
39,39,430000,949 Imperial Valley Ln,Frisco,75036,2.0,2.0,1786
40,40,350000,2260 Lariat Trl,Frisco,75036,3.0,2.0,1841

In [10]:
hf_df = hf_df.loc[hf_df['Price'] >= 10000]
hf_df = hf_df.loc[hf_df['# of Beds'] != 0]
hf_df = hf_df.loc[hf_df['# of Baths'] != 0]

hf_df

,Unnamed: 0,Price,# of Beds,# of Baths,Address,City,Zip Code
1,1,317900,3.0,2.0,7947 Claremont DR,Dallas,75228
2,2,50000,1.0,1.0,9833 Walnut Street,Dallas,75243
3,3,50000,1.0,1.0,9825 Walnut Street,Dallas,75243
4,4,50000,1.0,1.0,9809 Walnut Street,Dallas,75243
5,5,51000,1.0,1.0,9805 Walnut Street,Dallas,75243
...,...,...,...,...,...,...,...
3118,3118,469900,3.0,2.0,4011 Lemon Grass Way,Arlington,76005
3119,3119,135900,3.0,2.0,1719 Westview Terrace,Arlington,76013
3120,3120,365000,3.0,2.0,1405 Mount Evans Trail,Arlington,76005
3121,3121,265000,4.0,2.0,809 Mckenzie Place,Arlington,76018
3123,3123,250000,4.0,2.0,5115 Eagle Nest Drive,Arlington,76017

In [11]:
hf_sq = [None] * 2954
tru_zip = [None] * 240

hf_df['sqft'] = hf_sq
trulia_df['Zip Code'] = tru_zip

trulia_df

,Unnamed: 0,Price,# of Beds,# of Baths,sqft,Address,City,Zip Code
0,0,245000,4.0,2.0,2200,2827 Curvilinear Ct,Dallas,None
1,1,475000,3.0,2.0,2089,7036 Winchester St,Dallas,None
2,2,275000,4.0,2.0,1800,132 W Woodin Blvd,Dallas,None
3,3,209900,3.0,2.0,1902,7311 Hardwood Trl,Dallas,None
4,4,225000,5.0,2.0,2500,2720 E Atoll Dr,Dallas,None
...,...,...,...,...,...,...,...,...
235,235,425000,4.0,2.0,2666,3817 Harrison Dr,Carrollton,None
236,236,350000,4.0,3.0,2368,2517 Rosebud Cir,Carrollton,None
237,237,399900,4.0,3.0,2723,4216 Eastwood Dr,Carrollton,None
238,238,398750,4.0,3.0,2347,1514 Northland St,Carrollton,None
239,239,310000,2.0,3.0,1940,4121 Indian Run Dr,Carrollton,None

In [12]:
hf_df = hf_df[['Address', 'City', 'Zip Code', 'Price', 'sqft', '# of Beds', '# of Baths']]
trulia_df = trulia_df[['Address', 'City', 'Zip Code', 'Price', 'sqft', '# of Beds', '# of Baths']]
redfin_df = redfin_df[['Address', 'City', 'Zip Code', 'Price', 'sqft', '# of Beds', '# of Baths']]

redfin_df.columns, trulia_df.columns, hf_df.columns

(Index(['Address', 'City', 'Zip Code', 'Price', 'sqft', '# of Beds',
        '# of Baths'],
       dtype='object'),
 Index(['Address', 'City', 'Zip Code', 'Price', 'sqft', '# of Beds',
        '# of Baths'],
       dtype='object'),
 Index(['Address', 'City', 'Zip Code', 'Price', 'sqft', '# of Beds',
        '# of Baths'],
       dtype='object'))

In [13]:
dfs = [hf_df, trulia_df, redfin_df]
all_dfs = pd.concat([df.squeeze() for df in dfs], ignore_index=True)

all_dfs

,Address,City,Zip Code,Price,sqft,# of Beds,# of Baths
0,7947 Claremont DR,Dallas,75228,317900,None,3.0,2.0
1,9833 Walnut Street,Dallas,75243,50000,None,1.0,1.0
2,9825 Walnut Street,Dallas,75243,50000,None,1.0,1.0
3,9809 Walnut Street,Dallas,75243,50000,None,1.0,1.0
4,9805 Walnut Street,Dallas,75243,51000,None,1.0,1.0
...,...,...,...,...,...,...,...
3230,5111 Stillwater Trl,Frisco,75034,925000,4061,4.0,4.5
3231,1403 Crockett Dr,Frisco,75033,625000,3757,4.0,3.5
3232,12144 Cardinal Creek Dr,Frisco,75033,329000,1805,3.0,2.0
3233,949 Imperial Valley Ln,Frisco,75036,430000,1786,2.0,2.0
3234,2260 Lariat Trl,Frisco,75036,350000,1841,3.0,2.0

In [14]:
all_dfs.to_csv("Final_DataFrame.csv")